In [8]:
age = int(input("나이는?"))

if age >= 19:
    print("당신은 성인입니다.!")
elif age >= 13 and age < 19:
    print("당신은 미성년자입니다.!")
elif age >= 5 and age < 13:
    print("당신은 아동입니다.!")
else: 
    print("당신은 영유아입니다.!")
print(age)

당신은 영유아입니다.!
3

In [30]:
age1 = input("철수의 나이는?")
age_digit1 = int(age1)

age2 = input("영희의 나이는?")
age_digit2 = int(age2)

print("철수의 나이는 ?", age1,"세")
print("영희의 나이는 ?", age2,"세")

if not age_digit1 >= 19:
    print("19금")

철수의 나이는 ? 35 세
영희의 나이는 ? 32 세

In [33]:
cash = int(input("현금은?"))
if cash > 100000:
    print('레스토랑 가즈아~!')

레스토랑 가즈아~!

In [12]:
cash = int(input("현금은?"))
print(cash)
if cash > 100000:
    print("레스토랑")
else:
    if cash > 50000:
        if cash > 70000:
            print("아웃백")
        elif cash > 60000:
            print("밥")
        else :
            print("분식")
    else:
        print("집")

48000
집

In [1]:
for inde in range(100):
    print(inde)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
"""
for i in range(반복횟수)
    실행코드
"""

In [5]:
sum = 0
for i in range(1, 11):
    sum = sum+i
print(sum)

55

In [9]:
s = 0
while s <= 5:
    print(s)
    s=s+1

0
1
2
3
4
5