## 1. 문제를 풀며 빠르게 익숙해지는 파이썬 기본 프로그래밍1

### Exercise 1. 출력
* 화면에 "Hello World!"를 출력하세요.

In [1]:
print ("Hello World!")

Hello World!

### Exercise 2. 출력
* 화면에 "I don't like C language"를 출력하세요.

In [2]:
print ("I don't like C language")

I don't like C language

### Exercise 3. 출력
* print 함수를 사용하여 3.1415의 값을 출력하세요. 
  - 단, 소수점 아래는 첫 번째 자리까지만 표시되도록 하세요.

Example <br>
3.1

In [2]:
digi = 3.1415
print(format(digi,".1f"))

3.1

### Exercise 4. 형 변환
* 문자열 '720'를 정수형으로 변환하라. 정수 100을 문자열 '100'으로 변환하라.

In [5]:
data = '720'
dat = 100
print(int(data))
print(str(dat))

720
100

### Exercise 5. 연산
* 2와 4 숫자를 변수에 넣고, 두 변수를 더한 값, 곱한 값, 나눈 값을 출력하세요.

Example <br>
6 <br>
8 <br>
0.5

In [3]:
num1 = 2
num2 = 4

print (num1 + num2)
print (num1 * num2)
print (num1 / num2)

6
8
0.5

### Exercise 6. 연산
* 밑이 6 이고, 지수가 2 일 때 거듭제곱 값을 출력하라.
  - 6의 2승

Example <br>
36

In [6]:
a = 6
print(a ** 2)

36

### Exercise 7.  입력과 출력
* 사용자로부터 두 개의 숫자를 입력받은 후 두 개의 숫자를 더한 값을 각각 출력하는 프로그램을 작성하세요.

Example<br>
INPUT: 2 and 4 <br>
OUTPUT: <br>

6

In [10]:
b = input()
c = input()

print(int(b) + int(c))

6

### Exercise 8. 입력과 출력
* 사용자로부터 두 개의 숫자를 입력받은 후 두 개의 숫자를 더한 값, 곱한 값, 나눈 값을 각각 출력하는 프로그램을 작성하세요.

Example<br>
INPUT: 2 and 4 <br>
OUTPUT: <br>

6 <br>
8 <br>
0.5

In [11]:
d = input()
e = input()

print(int(d) + int(e))
print(int(d) * int(e))
print(int(d) / int(e))

6
8
0.5

### Exercise 9.  입력과 출력
* 사용자로부터 두 개의 숫자를 입력받은 후 두 개의 숫자를 더한 값, 곱한 값, 나눈 값, 나눈 몫, 나머지 값을 각각 출력하는 프로그램을 작성하세요.

Example<br>
INPUT: 4 and 4 <br>
OUTPUT: <br>

8 <br>
16 <br>
1.0 <br>
1 <br>
0

In [14]:
f = input()
g = input()

print(int(f) + int(g))
print(int(f) * int(g))
print(int(f) / int(g))
print(int(f) // int(g))
print(int(f) % int(g))

8
16
1.0
1
0

### Exercise 10.  입력과 출력
* 사용자로부터 두 개의 숫자를 입력받은 후 두 개의 숫자를 더한 값, 곱한 값, 나눈 값, 나눈 몫, 나머지 값을 각각 다음과 같이 출력하는 프로그램을 작성하세요.

Example<br>
INPUT: 4 and 4 <br>
OUTPUT: <br>

4 + 4 = 8 <br>
4 * 4 = 16 <br>
4 / 4 = 1 <br>
4 // 4 = 1 <br>
4 % 4 = 0 <br>

In [24]:
b1 = int(input())
b2 = int(input())

print( b1 ,"+" ,b2 ,"=", b1+b2)
print( b1 ,"*" ,b2 ,"=", b1*b2)
print( b1 ,"/" ,b2 ,"=", int(b1/b2))
print( b1 ,"//" ,b2 ,"=", b1//b2)
print( b1 ,"%" ,b2 ,"=", b1%b2)

4 + 4 = 8
4 * 4 = 16
4 / 4 = 1
4 // 4 = 1
4 % 4 = 0

### Exercise 11.  입력과 출력
* 사용자로부터 두 개의 숫자를 입력받은 후 두 개의 숫자를 더한 값, 곱한 값, 나눈 값, 나눈 몫, 나머지 값을 각각 다음과 같이 출력하는 프로그램을 작성하세요.
  - 단, 나눈 값은 소숫점 첫번째 자리까지만 출력하세요.

Example<br>
INPUT: 5 and 4 <br>
OUTPUT: <br>

5 + 4 = 9 <br>
5 + 4 = 20 <br>
5 / 4 = 1.2 <br>
5 // 4 = 1 <br>
5 % 4 = 1 <br>

In [29]:
c1 = int(input())
c2 = int(input())

print( c1 ,"+"  ,c2 ,"=", c1+c2)
print( c1 ,"*"  ,c2 ,"=", c1*c2)
print( c1 ,"/"  ,c2 ,"=", format(c1/c2, ".1f"))
print( c1 ,"//" ,c2 ,"=", c1//c2)
print( c1 ,"%"  ,c2 ,"=", c1%c2)

5 + 4 = 9
5 * 4 = 20
5 / 4 = 1.2
5 // 4 = 1
5 % 4 = 1

In [4]:
age = 24
name = "Dave"
height = 180
weight = 70
foot_size = 280
glass = True
marriage = True
gender = 'male'
hobby = 'Game'
special = 'no'

In [5]:
print(age,name,height)

24 Dave 180

In [8]:
radius = 10
pi = 3.1415

print("지름은?", radius * 2)
print("둘레는?", pi * 2)
print("넓이는?", pi * (radius ** 2))

지름은? 20
둘레는? 6.283
넓이는? 314.15000000000003

In [9]:
name = input()

In [10]:
print(name)

sdlkfn

In [11]:
name = input("what is Your name?")

In [12]:
print("Hi!", name)

Hi! asfasdqwe

In [13]:
digit = input()

In [14]:
print(digit)

1

In [21]:
a1 = input()
a2 = input()

ain = int(a1)
ast = str(a2)

print(type(ain), type(ast))

<class 'int'> <class 'str'>

In [22]:
int(input("How old are You? "))

24

In [23]:
digit1 = int( input())
digit2 = int(input())

print(digit1 * digit2)

15

In [ ]:
# 연산
# 변수
# 변수 타입(type , int, float, str, bool)
#  입력과 출력 (input, print)